<div class="user-grid" *ngIf="userService.user">
    <div class="grid-el">
        <p>User: {{userService.user.username}}</p> 
        <p>E-mail: {{userService.user.email}}</p>
        <h3>Credits: {{userService.user.money}}</h3>

        <hr>

        <p>Inventory</p>
        <div *ngFor="let item of userService.user.inventory | keyvalue">
            Resource: {{item.key}} - - <span class="inventory-number">{{item.value}}</span>
        </div>
    </div>

    <div class="shop-list grid-el">
        <button 
            *ngFor="let item of shopInventory; let index = index"
            [disabled]="item.price > userService.user.money" 
            (click)="buy(item.name)">
            <img class="shop-icon" src="#">
            <div class="details">
                <p>${{item.price.toLocaleString()}}</p>
                <p>Buy {{item.name}}</p>
            </div>
        </button>
    </div>

    <div class="grid-el">
        Mannquin
    </div>

    <div class="grid-el">
        Last
    </div>


</div>