<div class="user-grid" *ngIf="userService.user">
    <div>
        <p>User: {{userService.user.username}}</p> 
        <p>E-mail: {{userService.user.email}}</p>
        <h3>Credits: {{userService.user.money}}</h3>

        <hr>

        <p>Inventory</p>
        <div *ngFor="let item of userService.user.inventory | keyvalue">
            Resource: <b>{{item.key}}</b> - - <b>{{item.value}}</b>
        </div>
    </div>

    <div class="shop-list">
        <button 
            *ngFor="let item of shopInventory; let index = index"
            [disabled]="item.price > userService.user.money" 
            (click)="buy(item.name)">
            <img class="shop-icon" src="#">
            <p>Buy {{item.name}} - {{item.price}}</p>
        </button>
    </div>


</div>